

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.PageTitle</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Дома</a>
            </li>
            <li class="active">
               <strong><a href="/backend/@ViewBag.ControllerName/Index">@ViewBag.CurrentPage</a></strong>
            </li>

        </ol>
    </div>
    <div class="col-lg-2">
        @*@if((ViewBag.ControllerName.ToLower() != "adminfavorites") && (ViewBag.ControllerName.ToLower() != "adminnewslettersubscription"))
            {
                if (ViewBag.ActionName.ToLower() == "edit" || ViewBag.ActionName.ToLower() == "index" || ViewBag.ActionName.ToLower() == "MyRealEstates")
                {
                    <a href="/backend/@ViewBag.ControllerName/Create" class="btn btn-primary header-btn" style="margin-top: 20px;">@ViewBag.HeaderButton</a>
                }
                else if (ViewBag.ActionName.ToLower() == "pageindex")
                {
                    <a href="/backend/@ViewBag.ControllerName/Create?ptype=page" class="btn btn-primary header-btn" style="margin-top: 20px;">@ViewBag.HeaderButton</a>
                }
                else if (ViewBag.ActionName.ToLower() == "contentindex")
                {
                    <a href="/backend/@ViewBag.ControllerName/Create?ptype=content" class="btn btn-primary header-btn" style="margin-top: 20px;">@ViewBag.HeaderButton</a>
                }
        }*@
        
    </div>
</div>
